@font-face {
    font-family: 'Agency FB';
    src: url('fonts/subset-AgencyFB-Bold.eot');
    src: url('fonts/subset-AgencyFB-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-AgencyFB-Bold.woff2') format('woff2'),
    url('fonts/subset-AgencyFB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

